bin/
build/
certs/
tools/

*.coverprofile
*.out
*.html
.vscode
.idea
.DS_Store
*~

TODO
local.ldif

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# GitGuardian
.cache_ggshield
.gitguardian.yaml

# gosec report
gosec-report.sarif
