# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
# SPDX-License-Identifier: Apache-2.0
---
{{- if .Values.clusterRole.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "oidc-apps-extension.clusterRoleName" . }}
  labels:
    {{- include "oidc-apps-extension.labels" . | nindent 4 }}
rules:
  - apiGroups: [ "" ]
    resources: [ "services","secrets","events" ]
    verbs: [ "create", "get", "list", "watch", "update", "patch", "delete" ]
  - apiGroups: [ "apps" ]
    resources: [ "deployments","statefulsets", "replicasets" ]
    verbs: [ "get", "list", "watch" ]
  - apiGroups: [ "networking.k8s.io" ]
    resources: [ "ingresses" ]
    verbs: [ "create", "get", "list", "watch", "update", "patch", "delete" ]
  - apiGroups: [ "" ]
    resources: [ "namespaces", "pods" ]
    verbs: [ "get","list","patch", "watch", "update" ]
  - apiGroups: [ "coordination.k8s.io" ]
    resources: [ "leases" ]
    verbs: [ "create", "get", "list", "update", "patch", "watch", "delete" ]
  - apiGroups: ["admissionregistration.k8s.io"]
    resources: ["mutatingwebhookconfigurations"]
    verbs: [ "get","list","watch","update" ]
  - apiGroups: [ "autoscaling.k8s.io" ]
    resources: [ "verticalpodautoscalers" ]
    verbs: [ "get", "list", "watch", "update", "patch" ]
  - apiGroups: ["extensions.gardener.cloud"]
    resources: ["clusters"]
    verbs: [ "get","list","watch" ]
  {{- end }}